
   
    
button:hover {
    background: #E41C36;
}


    .done {
    text-align: center;
    color: #c7db49;
}
.tip {
    font-size: 14px;
}
.title {
    text-align: center;
}
    .top-header{
        height: 49px;
        z-index: 99;
        background: #fff;
        padding: 9px;
        opacity: 0.95;
    }
    .top-header > img{
        width: 30px;
    }
    .header_flex_item {
        color: #fff !important;
    }
    .header_flex_item {
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        width: 50%
    }
      

  .barr {
    direction: ltr;
    max-width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
}
.fill {
    position: relative;
    display: inline-block;
    width: calc(100% - 100px);
    height: 35px;
    padding: 2px;
    border: 2px solid #0e5aa7;
}
    #share, 
    #claim {
    display: none;
}
  .percentage {
    width: 100px;
    float: right;
    height: 35px;
    font-size: 16px;
    border: 2px solid #0e5aa7;
}
#percentage,
#percentage2 {
    margin-left: 5px;
}
  #fill,
#fill2 {
    background: #0e5aa7;
    width: 0%;
    height: 100%;
}
   .txt1 {
			padding: 5px 6px;
			line-height: 18px;
            color: #BE0612;
			text-align: center
		}
		.bottom {
			width: 92%;
			margin: 20px auto 0;
			border: 1px solid #ccc;
			background-color: #f2f2f2;
			padding: 5px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px
              
		}
		.now {
			text-align: center;
			padding-top: 5px
		}
		#countdown {
			font-weight: bold;
		}
		.rules {
			color: #1b316c;
			padding: 4px 5px;
			line-height: 22px
		}
    	.title1 {
			text-align: center;
			font-weight: 700;
			font-size: 26px
		}
    
		.now2 {
			padding-top: 10px;
			font-weight: bold;
		}
    .last_page{
			display: none;
		}
		.last-up{
			text-align: left;
		}
		.textlastup{
			color: #068afb;
			font-size: 18px;
			padding-bottom: 8px;
			font-weight: 400;
		}
     .share_main_bt {
        margin: 10px auto;
        background:#4ab115;
        border-radius: 10px;
        width: 80%;
        line-height: 45px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #fff  !important;
    }
    .sa-confirm-button-container{
			width:100px !important;
		}
      
  .barr {
    direction: ltr;
    max-width: 400px;
    margin: 10px auto;
    box-sizing: border-box;
}
.fill {
    position: relative;
    display: inline-block;
    width: calc(100% - 100px);
    height: 35px;
    padding: 2px;
    border: 2px solid #0e5aa7;
}
  #claim {
    display: none;
}
  .percentage {
    width: 100px;
    float: right;
    height: 35px;
    font-size: 16px;
    border: 2px solid #0e5aa7;
}
#percentage,
#percentage2 {
    margin-left: 5px;
}
  #fill,
#fill2 {
    background: #0e5aa7;
    width: 0%;
    height: 100%;
}
    .share_main {
        margin: 10px auto;
        width: 95%;
        background: #eeeff4;
        border-radius: 10px;
    }
    .swal2-styled.swal2-confirm {
        background-color: #8cd4f5;
        box-shadow: none;
        padding: 10px 32px;
        margin-top: 10px;
        cursor: pointer;
        color: #fff !important;
        border-radius: 0.2rem;
        border: 1px solid rgba(84, 84, 84, 0.4);
        font-weight: 300;
        font-size: 19px;
        width: 100%;
        background: #BE0612 !important;
    }

    .swal2-actions {
        padding: 0 !important;
    }
    
